<div class="container">
  <div class="row">
    <div class="colxs-12">
      <h1>My Quotes</h1>
      <app-quote
        (click)="isFavorite = !isFavorite"
        [ngClass]="{ 'favorite super-favorite': isFavorite }"
        [ngStyle]="{ 'width.px': isFavorite ? 600 : 400 }"
      ></app-quote>
      <!-- <app-author></app-author> -->
      <button class="btn btn-primary" (click)="onShowBoring(boringBlock)">
        Show Boring Quotes
      </button>
      <div class="boring" #boringBlock style="display: none">
        <div id="very-boring">
          <app-quote></app-quote>
          <!-- <app-author></app-author> -->
        </div>
      </div>
    </div>
  </div>
</div>
